@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nagham-gold: #B45309;
}

body {
  background-color: #FFFBF5;
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-gradient-radial {
  background-image: radial-gradient(circle, rgba(251,191,36,0.1) 0%, rgba(255,255,255,0) 70%);
}

